# What is this file?
# see http://editorconfig.org/

# don't look for more .editorconfig files in parent directories
root = true

# common rules
[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# other rules
[{package}.json]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.hbs]
indent_size = 4

[*.css]
indent_size = 4
