# hapi server port
PORT=3000

# MongoDB
# the data store for everything :)
DATABASE=mongodb://localhost/futureflix

# Postmark API Key
# SMTP service to send mails from this project
POSTMARK_API_KEY=your-key

# trakt.tv OAuth
TRAKT_CLIENT_ID=your-key
TRAKT_CLIENT_SECRET=your-secret
