<div class="columns content">
    <div class="column is-half is-offset-one-quarter">
        <h1 class="title">
            <img src="/images/eye-off.svg" alt="">
            404!
        </h1>
        <p class="subtitle">
            Uh, shit. You found a loop hole. This resource isn’t available.
        </p>

        <hr>

        <p>
            Better go back to safe lands, like the <a href="/">startpage</a>.
        </p>

    </div>
</div>
