body {
    font-family: 'Rubik', sans-serif;
}

button.button, input[type=submit].button {
    font-family: Rubik, sans-serif;
    font-weight: 500;
}

.label {
    font-weight: 500;
}

label.is-danger {
    color: #ff3860;
}

.error {
    color: #ff3860;
}

.field:not(:last-child) {
    margin-bottom: 1.75rem;
}
