<div class="columns">
    <div class="column"></div>

    <div class="column is-three-quarters">
        {{> shows-tabs }}

        <div class="content">
            <h1 class="title">
                TV Shows
            </h1>
            <p class="subtitle">
                You’re into shows 📺 awesome!
            </p>

            <hr>

            <div class="columns">
                <div class="column">
                    <figure class="image">
                        <img src="/images/covers/fargo.jpg" width="">
                    </figure>
                </div>
                <div class="column">
                    <figure class="image">
                        <img src="/images/covers/gotham.jpg" width="">
                    </figure>
                </div>
                <div class="column">
                    <figure class="image">
                        <img src="/images/covers/sherlock.jpg" width="">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="column"></div>
</div>
