<div class="columns">
    <div class="column"></div>
    <div class="column is-three-quarters">
        {{> shows-tabs }}

        <div class="content">
            <div class="is-clearfix">
                <div class="is-pulled-left">
                    <h1 class="title">
                        {{title}}
                    </h1>
                    <p class="subtitle is-small">
                        {{year}} <span class="has-text-info">{{rating}}</span>
                    </p>
                </div>
                <div class="is-pulled-right">
                    <br>
                    <img src="/images/heart.svg" alt="">
                </div>
            </div>

            <hr>

            <div>
                <img src="/images/covers/a-monster-calls.jpg" width="200">
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>
