<nav class="nav has-shadow">
    <div class="nav-left">
        <a class="nav-item" href="/">
            <img src="/images/aperture-white.svg" alt="">
            &nbsp;
            Futureflix
        </a>
    </div>

    <div class="nav-center nav-menu">
        <a class="nav-item is-tab" href="/movies">
            Movies
        </a>
        <a class="nav-item is-tab" href="/shows">
            TV Shows
        </a>
        <a class="nav-item is-tab" href="/discover">
            Discover
        </a>
    </div>


    {{> header-nav-right }}

</nav>
