<div class="tabs is-centered">
    <ul>
        <li class="is-active"><a href="/shows/trending">Trending</a></li>
        <li><a href="/shows/popular">Popular</a></li>
        <li><a href="/shows/anticipated">Anticipated</a></li>
    </ul>
</div>
